SIF3DMGenerator/Generator/data/input/XSD/sifus32/CEDS/CEDS_Workforce.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--version 3.02.01-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../Entity/SIFglobal.xsd"/>
	<xs:complexType name="wfQuarterlyEmploymentRecordType">
		<xs:annotation>
			<xs:appinfo>
				<elementName/>
				<events/>
				<isSIFObject>yes</isSIFObject>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="employedAfterExit" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>Employed After Exit</elementName>
						<sifChar>O</sifChar>
						<cedsId>000988</cedsId>
						<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=5990</cedsURL>
					</xs:appinfo>
					<xs:documentation>An individual who is a paid employee or works in his or her own business, profession, or farm, as reported through the State Unemployment Insurance Wage Report, FEDES, or WRIS, after exiting secondary, postsecondary, or adult education or workforce programs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="employedPriorToEnrollment" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>Employed Prior to Enrollment</elementName>
						<sifChar>O</sifChar>
						<cedsId>001342</cedsId>
						<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=6309</cedsURL>
					</xs:appinfo>
					<xs:documentation>An individual who is a paid employee or works in his or her own business, profession, or farm, as reported through the State Unemployment Insurance Wage Report, FEDES, or WRIS, before enrolling in secondary, postsecondary, or adult education or workforce programs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="employedWhileEnrolled" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>Employed While Enrolled</elementName>
						<sifChar>O</sifChar>
						<cedsId>000987</cedsId>
						<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=5989</cedsURL>
					</xs:appinfo>
					<xs:documentation>An individual who is a paid employee or works in his or her own business, profession, or farm, as reported through the State Unemployment Insurance Wage Report, FEDES, or WRIS, and at the same time is enrolled in secondary, postsecondary, or adult education or workforce programs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="employmentLocation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>Employment Location</elementName>
						<sifChar>O</sifChar>
						<cedsId>000990</cedsId>
						<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=5992</cedsURL>
					</xs:appinfo>
					<xs:documentation>The state or other location in which an individual is found employed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="employmentNAICSCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>Employment NAICS Code</elementName>
						<sifChar>O</sifChar>
						<cedsId>001064</cedsId>
						<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=6070</cedsURL>
					</xs:appinfo>
					<xs:documentation>The North American Industry Classification System (NAICS) code associated with an individual's employment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="administrativeDataSource" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>Employment Record Administrative Data Source</elementName>
						<sifChar>O</sifChar>
						<cedsId>000994</cedsId>
						<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=5996</cedsURL>
					</xs:appinfo>
					<xs:documentation>Administrative data source of information used to collect employment and earnings-related data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referencePeriodEndDate" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>Employment Record Reference Period End Date</elementName>
						<sifChar>O</sifChar>
						<cedsId>000993</cedsId>
						<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=5995</cedsURL>
					</xs:appinfo>
					<xs:documentation>The year, month, and day of the last day of the employment record reference period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referencePeriodStartDate" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>Employment Record Reference Period Start Date</elementName>
						<sifChar>O</sifChar>
						<cedsId>000992</cedsId>
						<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=5994</cedsURL>
					</xs:appinfo>
					<xs:documentation>The year, month, and day of the first day of the employment record reference period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="militaryEnlistmentAfterExit" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>Military Enlistment After Exit</elementName>
						<sifChar>O</sifChar>
						<cedsId>001412</cedsId>
						<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=6381</cedsURL>
					</xs:appinfo>
					<xs:documentation>An individual who is a member of the uniformed armed forces of the United States as reported through FEDES after exiting secondary, postsecondary, or adult education or workforce programs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personEmployedInMultipleJobsCount" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>Person Employed in Multiple Jobs Count</elementName>
						<sifChar>O</sifChar>
						<cedsId>000991</cedsId>
						<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=5993</cedsURL>
					</xs:appinfo>
					<xs:documentation>The number of jobs held by a person during the reference period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quarterlyEarnings" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>Quarterly Earnings</elementName>
						<sifChar>O</sifChar>
						<cedsId>000989</cedsId>
						<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=5991</cedsURL>
					</xs:appinfo>
					<xs:documentation>The quarterly amount paid to individuals found employed during the reference period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="socialSecurityNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<elementName>Social Security Number</elementName>
						<sifChar>O</sifChar>
						<cedsId>000259</cedsId>
						<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=5259</cedsURL>
					</xs:appinfo>
					<xs:documentation>The nine-digit number of identification assigned to the person by the Social Security Administration.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="refId" type="gRefIdType" use="required"/>
	</xs:complexType>
	<xs:element name="wfQuarterlyEmploymentRecord" type="wfQuarterlyEmploymentRecordType"/>
	<xs:complexType name="wfParticipantType">
		<xs:annotation>
			<xs:appinfo>
				<elementName/>
				<events/>
				<isSIFObject>yes</isSIFObject>
				<cedsId/>
				<cedsURL/>
			</xs:appinfo>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identity" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="firstName" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<sifChar>O</sifChar>
												<cedsId>000115</cedsId>
												<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3115</cedsURL>
											</xs:appinfo>
											<xs:documentation>The full legal first name given to a person at birth, baptism, or through legal change.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="middleName" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<sifChar>O</sifChar>
												<cedsId>000184</cedsId>
												<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3184</cedsURL>
											</xs:appinfo>
											<xs:documentation>A full legal middle name given to a person at birth, baptism, or through legal change.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="lastName" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<sifChar>O</sifChar>
												<cedsId>000172</cedsId>
												<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3172</cedsURL>
											</xs:appinfo>
											<xs:documentation>The full legal last name borne in common by members of a family.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="suffix" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<sifChar>O</sifChar>
												<cedsId>000121</cedsId>
												<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3121</cedsURL>
											</xs:appinfo>
											<xs:documentation>An appendage, if any, used to denote a person's generation in his family (e.g., Jr., Sr., III).</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="prefix" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<sifChar>O</sifChar>
												<cedsId>000212</cedsId>
												<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3212</cedsURL>
											</xs:appinfo>
											<xs:documentation>An appellation, if any, used to denote rank, placement, or status (e.g., Mr., Ms., Reverend, Sister, Dr., Colonel).</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="otherNameList" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="otherName" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:appinfo>
												<sifChar>OR</sifChar>
												<cedsId/>
												<cedsURL/>
											</xs:appinfo>
											<xs:documentation/>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="otherFirstName" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>Other First Name</elementName>
															<sifChar>O</sifChar>
															<cedsId>001514</cedsId>
															<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=6486</cedsURL>
														</xs:appinfo>
														<xs:documentation>A first name given to a person.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="otherLastName" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>Other Last Name</elementName>
															<sifChar>O</sifChar>
															<cedsId>001513</cedsId>
															<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=6485</cedsURL>
														</xs:appinfo>
														<xs:documentation>A last name given to a person.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="otherMiddleName" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>Other Middle Name</elementName>
															<sifChar>O</sifChar>
															<cedsId>001515</cedsId>
															<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=6487</cedsURL>
														</xs:appinfo>
														<xs:documentation>A middle name given to a person.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="otherName" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<elementName>Other Name</elementName>
															<sifChar>O</sifChar>
															<cedsId>000206</cedsId>
															<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=5206</cedsURL>
														</xs:appinfo>
														<xs:documentation>Previous, alternate or other names or aliases associated with the person.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="otherNameType" type="xs:string">
												<xs:annotation>
													<xs:appinfo>
														<sifChar>O</sifChar>
														<cedsId>000634</cedsId>
														<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3627</cedsURL>
													</xs:appinfo>
													<xs:documentation>The types of previous, alternate or other names for a person.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="identification" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="socialSecurityNumber" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<sifChar>O</sifChar>
												<cedsId>000259</cedsId>
												<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3259</cedsURL>
											</xs:appinfo>
											<xs:documentation>The nine-digit number of identification assigned to the person by the Social Security Administration.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="idVerification" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<sifChar>O</sifChar>
												<cedsId>000618</cedsId>
												<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=3611</cedsURL>
											</xs:appinfo>
											<xs:documentation>The evidence by which a persons name, address, date of birth, etc. is confirmed.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="programParticipationList" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="programParticipation" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="participationStartDate" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<elementName>Workforce Program Participation Start Date</elementName>
												<sifChar>O</sifChar>
												<cedsId>000998</cedsId>
												<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=6001</cedsURL>
											</xs:appinfo>
											<xs:documentation>The year, month, and day of the first day of the reference period during which data are matched between education and workforce data sources.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="participationEndDate" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<elementName>Workforce Program Participation End Date</elementName>
												<sifChar>O</sifChar>
												<cedsId>000999</cedsId>
												<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=6002</cedsURL>
											</xs:appinfo>
											<xs:documentation>The year, month, and day of the last day of the reference period during which data are matched between education and workforce data sources.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="programType" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<elementName>Workforce Program Participation</elementName>
												<sifChar>O</sifChar>
												<cedsId>000997</cedsId>
												<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=6000</cedsURL>
											</xs:appinfo>
											<xs:documentation>The type of workforce and employment development program that an individual is participating in.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="academicRecord" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="professionalOrTechnicalCredentialConferred" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<elementName>Professional or Technical Credential Conferred</elementName>
									<sifChar>O</sifChar>
									<cedsId>000783</cedsId>
									<cedsURL>https://ceds.ed.gov/cedselementdetails.aspx?termid=5780</cedsURL>
								</xs:appinfo>
								<xs:documentation>An indicator of the category of credential conferred by a state occupational licensing entity or industry organization for competency in a specific area measured by a set of pre-established standards.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="refId" type="gRefIdType" use="required"/>
	</xs:complexType>
	<xs:element name="wfParticipant" type="wfParticipantType"/>
</xs:schema>
